{% extends 'base.html' %}
{% block titulo %} - Inicio{% endblock titulo %}
{% block contenido %}
{% if user.is_authenticated %}
    <p>¡Hola, {{ user.username }}, usted tiene {{ user.edad }} años.</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Salir</button>
    </form>
    <br />
    <p><a class="btn btn-primary" href="{% url 'lista_articulos' %}" role="button"> Ver Todos los Articulos </a></p>
{% else %}
    <p>No ha ingresado</p>
    <a href="{% url 'login' %}">Ingresar</a>
    No tengo cuenta, <a href="{% url 'signup' %}">Registrarme</a>
{% endif %}
{% endblock contenido %}