{% extends 'base.html' %}

{% block titulo %} - Articulos{% endblock titulo %}

{% block contenido %}
    {% for articulo in articulo_list %}
        <div class="card">
            <div class="card-header">
            <span class="fw-bold">
                <a href="{{ articulo.get_absolute_url }}">{{ articulo.titulo }}</a>
            </span> &middot; 
            <span class="text-muted">por {{ articulo.autor }} | {{ articulo.fecha }}</span>
        </div>
        <div class="card-body">
            {{ articulo.contenido }}
        </div>
        <div class="card-footer text-center text-muted">
        {% if articulo.autor.pk == request.user.pk %}
            <a href="{% url 'editar_articulo' articulo.pk %}">Editar</a> | <a href="{% url 'eliminar_articulo' articulo.pk %}">Eliminar</a> |
        {% endif %}
        <a href="{{articulo.get_absolute_url }}">Nuevo Comentario</a>
        <div class="card-footer">
            {% for comentario in articulo.comentario_set.all %}
            <p>
                <span class="fw-bold">
                    {{ comentario.autor }} &middot;
                </span>
                {{ comentario }}
            </p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock contenido %}